{% extends "index.html" %}
{% load static %}
{% block title %}Our Charter{% endblock %}

{% block content %}
<div class="section" style="background-color: whitesmoke; position: relative;width: 100%; height: 100vh;  display: flex;  align-items: center;  justify-content: center; overflow: hidden;">
        <div class="background-wrap" style="position: relative; z-index: -1000; width: 100%; height: 100%; overflow: hidden; top: 0; left: 0;">

		</div>
        <div class="content justify-content-center" style="position: absolute; width: 100%; min-height: 100%; z-index: 1000;">
			<h3 style="text-align: center; font-size: 40px; text-transform: uppercase; font-weight: 300; color: #0046ff; padding-top: 5%; margin-bottom: 10px;">
                <p>CrowdFunding is a<br> Benefit Corporation</p>
            </h3>
            <div class="container">
            <h6 style="text-align: center; font-size: 20px; text-transform: uppercase; font-weight: 200; color: #000000; padding-top: 5%; margin-bottom: 10px;">
                <p>
                    CrowdFunding’s mission is to help bring creative projects to life. We measure our success as a company by how well we achieve that mission, not by the size of our profits. That’s why we reincorporated CrowdFunding as a Benefit Corporation in 2015.
                </p>
                <p>
                    Benefit Corporations are for-profit companies that are obligated to consider the impact of their decisions on society, not only shareholders. Radically, positive impact on society becomes part of a Benefit Corporation’s legally defined goals. When a company becomes a Benefit Corporation, it can choose to make further commitments. In our new charter (shown below) we spell out our mission, our values, and the commitments we have made to pursue them.
                </p>
                <p>
                    We will deliver a benefit statement annually that will measure the results of our efforts to promote these public benefits.
                </p>
            </h6>
            </div>
        </div>
 </div>
    <br>
    <section class="event-area">
		<div class="container">
			<div class="row justify-content-center align-items-center ">
				<div class="row justify-content-center align-items-center ">
				<div class="event-left">
                    <h1><b>1.</b>CrowdFunding’s mission is to help bring creative projects to life.</h1>
				</div>
				<div class="offset-lg-1 col-lg-6 col-md-8 col-sm-10 event-right justify-content-center align-items-center d-flex">
					<div>
					<div class="single-event">
						<h5>
                        <b>A.</b>&nbsp;CrowdFunding will create tools and resources that help people bring their creative projects to life, and that connect people around creative projects and the creative process.
                        </h5>
					</div>

					<div class="single-event">
						<h5>
                            <b>B.</b>&nbsp;CrowdFunding will care for the health of its ecosystem and integrity of its systems.
                        </h5>
					</div>

					<div class="single-event">
						<h5>
                        <b>C.</b>&nbsp;CrowdFunding will engage beyond its walls with the greater issues and conversations affecting artists and creators.
                        </h5>
					</div>
                    </div>
                    </div>
				</div>
                <div class=" event-left">
                    <h1><b>2.</b>CrowdFunding’s operations will reflect its values.</h1>
				</div>
				<div class="offset-lg-1 col-lg-6 col-md-8 col-sm-10 event-right justify-content-center align-items-center d-flex">
					<div>
					<div class="single-event">
						<h5>
                        <b>A.</b>&nbsp;CrowdFunding will never sell user data to third parties. It will zealously defend the privacy rights and personal data of the people who use its service, including in its dealings with government entities.
                        </h5>
					</div>

					<div class="single-event">
						<h5>
                            <b>B.</b>&nbsp;CrowdFunding’s terms of use and privacy policies will be clear, fair, and transparent. CrowdFunding will not cover every possible future contingency, or claim rights and powers just because it can or because doing so is industry standard.
                        </h5>
					</div>

					<div class="single-event">
						<h5>
                        <b>C.</b>&nbsp;CrowdFunding will not lobby or campaign for public policies unless they align with its mission and values, regardless of possible economic benefits to the company.
                        </h5>
					</div>
                     <div class="single-event">
						<h5>
                        <b>D.</b>&nbsp;CrowdFunding will not use loopholes or other esoteric but legal tax management strategies to reduce its tax burden. CrowdFunding will be transparent in reporting the percentage of taxes it pays and explaining the many factors that affect its tax calculation.
                        </h5>
                     </div>
                     <div class="single-event">
						<h5>
                        <b>E.</b>&nbsp;CrowdFunding will seek to limit environmental impact. It will invest in green infrastructure, support green commuting methods, and factor environmental impact when choosing vendors. Additionally, CrowdFunding will provide recommendations and resources that help creators make environmentally conscious decisions on tasks, like shipping and packaging, that are common to the use of its services.
                        </h5>
                     </div>
                    </div>
                    </div>

                <div class="row justify-content-center align-items-center ">
				<div class="event-left">
                    <h1><b>3.</b>CrowdFunding supports a more creative and equitable world.</h1>
				</div>
				<div class="offset-lg-1 col-lg-6 col-md-8 col-sm-10 event-right justify-content-center align-items-center d-flex">
					<div>
					<div class="single-event">
						<h5>
                        <b>A.</b>&nbsp;CrowdFunding will annually donate 5% of its after-tax profit towards arts and music education, and to organizations fighting to end systemic inequality as further defined in sections 4(c) and 5(c) below (the “5% pledge”).
                        </h5>
					</div>
                    </div>
                    </div>
                </div>
			</div>
        </div>
    </section>
{% endblock %}