{% extends "index.html" %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block content %}

    <header class="bg-white border-bottom">
        <div class="container-flex px3">
            <div class="mobile-table py-lg-5 py10-sm">
                <div class="mobile-table-cell py3 py7-sm center">
                    <h2 class="mega mb0">Terms of Use</h2>
                </div>
            </div>
        </div>
    </header>
    <br>
    <br>
    <div class="terms-of-use container-flex px3 py3 py10-sm formatted-lists">
        <div class="row">
            <div class="col-center col-9">
                <section class="py3 py7-sm" id="section1">
                    <h2 class="normal">1. Welcome to CrowdFunding!</h2>
                    <br>
                    <div class="jumbotron">
                        <div class="container">
                             <p >This page explains our terms of use. When you use CrowdFunding, you’re agreeing to all the rules on this page. Some of them need to be expressed in legal language, but we’ve done our best to offer you clear and simple explanations of what everything means — hence the brief summaries in these blue boxes. The summaries, for the record, are not part of the official legal terms.</p>
                        </div>
                    </div>
                    <div>
                        <p>Welcome to CrowdFunding. By using this website (the “Site”) and services (together with the Site, the “Services”) offered by CrowdFunding, PBC (together with Drip U.S., LLC, The Creative Independent, LLC, and its and their parents, subsidiaries, affiliates, agents, representatives, consultants, employees, officers, and directors — collectively, “CrowdFunding,” “we,” or “us”), you’re agreeing to these legally binding rules (the “Terms”). You’re also agreeing to our Privacy Policy and Cookie Policy, and agreeing to follow any other rules on the Site, like our Community Guidelines and rules for starting projects.
                        <p>We may change these terms from time to time. If we do, we’ll let you know about any material changes, either by notifying you on the Site or by sending you an email. New versions of the terms will never apply retroactively — we’ll tell you the exact date they go into effect. If you keep using CrowdFunding after a change, that means you accept the new terms.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="terms-of-use container-flex px3 py3 py10-sm formatted-lists">
        <div class="row">
            <div class="col-center col-9">
                <section class="py3 py7-sm" id="section1">
                    <h2 class="normal">2. About Creating an Account</h2>
                    <br>
                    <div class="jumbotron">
                        <div class="container">
                             <p>To sign up for a CrowdFunding account, you need to be 18 or over. You’re responsible for your account and all the activity on it.</p>
                        </div>
                    </div>
                    <div>
                        <p>You can browse CrowdFunding without registering for an account. But to use some of CrowdFunding’s functions, you’ll need to register, choose a username, and set a password. When you do that, the information you give us has to be accurate and complete. Don’t impersonate anyone else or choose names that are offensive or that violate anyone’s rights. If you don’t follow these rules, we may cancel your account.</p>
                        <p>You’re responsible for all the activity on your account, and for keeping your password confidential. If you find out that someone’s used your account without your permission.</p>
                        <p>To sign up for an account, you need to be at least 18 years old, or old enough to form a binding contract where you live. If necessary, we may ask you for proof of age.</p>

                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="terms-of-use container-flex px3 py3 py10-sm formatted-lists">
        <div class="row">
            <div class="col-center col-9">
                <section class="py3 py7-sm" id="section1">
                    <h2 class="normal">3. Things You Definitely Shouldn’t Do</h2>
                    <br>
                    <div class="jumbotron">
                        <div class="container">
                            <p>This section is a list of things you probably already know you shouldn’t do — lie, break laws, abuse people, steal data, hack other people’s computers, and so on. Please behave yourself. Don’t do this stuff.</p>
                        </div>
                    </div>
                    <div>
                        <p>Millions of people use CrowdFunding. We expect all of them to behave responsibly and help keep this a nice place. Don’t do any of these things on the Site:</p>
                        <p><B>&middot;Don’t break the law.</B> Don’t take any action that infringes or violates other people’s rights, violates the law, or breaches any contract or legal duty you have toward anyone.</p>
                        <p><b>&middot;Don’t lie to people.</b> Don’t post information you know is false, misleading, or inaccurate. Don’t do anything deceptive or fraudulent.</p>
                        <p><b>&middot;Don’t offer prohibited items.</b> Don’t offer any rewards that are illegal, violate any of CrowdFunding’s policies, rules, or guidelines, or violate any applicable law, statute, ordinance, or regulation.</p>
                        <p><b>&middot;Don’t victimize anyone.</b> Don’t do anything threatening, abusive, harassing, defamatory, libelous, tortious, obscene, profane, or invasive of another person’s privacy.</p>
                        <p><b>&middot;Don’t spam.</b> Don’t distribute unsolicited or unauthorized advertising or promotional material, or any junk mail, spam, or chain letters. Don’t run mail lists, listservs, or any kind of auto-responder or spam on or through the Site.</p>
                        <p><b>&middot;Don’t harm anyone’s computer.</b> Don’t distribute software viruses, or anything else (code, films, programs) designed to interfere with the proper function of any software, hardware, or equipment on the Site (whether it belongs to CrowdFunding or another party).</p>
                        <p><b>&middot;Don’t abuse other users’ personal information.</b> When you use CrowdFunding — and especially if you create a successful project — you may receive information about other users, including things like their names, email addresses, and postal addresses. This information is provided for the purpose of participating in a CrowdFunding project: don’t use it for other purposes, and don’t abuse it.</p>

                       <div class="jumbotron">
                        <div class="container">
                            <p> We also need to make sure that the Site is secure and our systems function properly. So don’t do any of these things — most of which boil down to “don’t mess with our system.</p>
                        </div>
                    </div>
                        <p>&middot;Don’t try to interfere with the proper workings of the Services.</p>
                        <p>&middot;Don’t bypass any measures we’ve put in place to secure the Services.</p>
                        <p>&middot;Don’t try to damage or get unauthorized access to any system, data, password, or other information, whether it belongs to CrowdFunding or another party.</p>
                        <p>&middot;Don’t take any action that imposes an unreasonable load on our infrastructure, or on our third-party providers. (We reserve the right to determine what’s reasonable.)</p>
                        <p>&middot;Don’t use any kind of software or device (whether it’s manual or automated) to “crawl” or “spider” any part of the Site.</p>
                        <p>&middot;Don’t take apart or reverse engineer any aspect of CrowdFunding in an effort to access things like source code, underlying ideas, or algorithms.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="terms-of-use container-flex px3 py3 py10-sm formatted-lists">
        <div class="row">
            <div class="col-center col-9">
                <section class="py3 py7-sm" id="section1">
                    <h2 class="normal">4. How Projects Work</h2>
                    <br>
                    <div class="jumbotron">
                        <div class="container">
                            <p>Most of our Terms of Use explain your relationship with CrowdFunding. This section is different — it explains the relationship between creators and backers of CrowdFunding projects, and who’s responsible for what. This is what you’re agreeing to when you create or back a CrowdFunding project.</p>
                        </div>
                    </div>
                    <div>
                        <p>CrowdFunding provides a funding platform for creative projects. When a creator posts a project on CrowdFunding, they’re inviting other people to form a contract with them. Anyone who backs a project is accepting the creator’s offer, and forming that contract.</p>
                        <p>CrowdFunding is not a part of this contract — the contract is a direct legal agreement between creators and their backers. Here are the terms that govern that agreement:</p>
                    </div>
                    <div class="jumbotron">
                        <div class="container">
                            <P>When a project is successfully funded, the creator must complete the project and fulfill each reward. Once a creator has done so, they’ve satisfied their obligation to their backers.</P>
                            <P>Throughout the process, creators owe their backers a high standard of effort, honest communication, and a dedication to bringing the project to life. At the same time, backers must understand that when they back a project, they’re helping to create something new — not ordering something that already exists. There may be changes or delays, and there’s a chance something could happen that prevents the creator from being able to finish the project as promised.</P>
                            <P>If a creator is unable to complete their project and fulfill rewards, they’ve failed to live up to the basic obligations of this agreement. To right this, they must make every reasonable effort to find another way of bringing the project to the best possible conclusion for backers. A creator in this position has only remedied the situation and met their obligations to backers if:</P>
                            <P>they post an update that explains what work has been done, how funds were used, and what prevents them from finishing the project as planned;</P>
                            <P>they work diligently and in good faith to bring the project to the best possible conclusion in a timeframe that’s communicated to backers;</P>
                            <P>they’re able to demonstrate that they’ve used funds appropriately and made every reasonable effort to complete the project as promised;</P>
                            <P>they’ve been honest, and have made no material misrepresentations in their communication to backers; and</P>
                            <p>they offer to return any remaining funds to backers who have not received their reward (in proportion to the amounts pledged), or else explain how those funds will be used to complete the project in some alternate form.</p>
                            <p>The creator is solely responsible for fulfilling the promises made in their project. If they’re unable to satisfy the terms of this agreement, they may be subject to legal action by backers.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
     <div class="terms-of-use container-flex px3 py3 py10-sm formatted-lists">
        <div class="row">
            <div class="col-center col-9">
                <section class="py3 py7-sm" id="section1">
                    <h2 class="normal">5. How Funding Works</h2>
                    <br>
                    <div class="jumbotron">
                        <div class="container">
                            <p>This section goes over the details of backing and creating projects — things like how money gets collected, whether pledges can be changed or canceled, and how creators can contact backers to provide rewards.</p>
                        </div>
                    </div>
                    <div>
                        <p>These are the terms that apply when you’re <b>backing a project:</b></p>
                    </div>
                        <p><b>You’re only charged if the project reaches its fundraising goal.</b> You’ll provide your payment information when you pledge, but you won’t be charged. Your payment will only be collected if, at the time of the project’s funding deadline, the project has reached its fundraising goal. The exact amount you pledged is the amount Kickstarter will collect. If the campaign hasn’t reached its fundraising goal, you won’t be charged, no funds will be collected, and no money will change hands.</p>
                        <p><b>In some cases we’ll reserve the charge on your card.</b>CrowdFunding and its payment partners may authorize or reserve a charge on your credit card (or whatever payment method you use) for any amount up to the full pledge, at any time between the pledge and the collection of funds.</p>
                        <p><b>You can change or cancel your pledge at any time before the project’s funding deadline (with one exception).</b> You can increase, decrease, or cancel your pledge at any time during the campaign, with one exception. During the last 24 hours of the campaign, you can’t decrease or cancel your pledge without contacting customer support first — if that action would drop the project below its funding goal. Once the project has been funded, you can only cancel or change your pledge by making special arrangements directly with the creator.</p>
                        <p><b>The Estimated Delivery Date is the creator’s estimate.</b> The date listed on each reward is the creator’s estimate of when they will provide the reward — not a guarantee to fulfill by that date. The schedule may change as the creator works on the project. We ask creators to think carefully, set a date they feel confident they can work toward, and communicate with backers about any changes.</p>
                        <br>
                    <p>These are the terms that apply when you’re <b>creating a project:</b></p>
                    <br>
                    <p><b>You can refund individual pledges if you want.</b> After your project has been funded, you can cancel and refund a backer’s pledge at any time. If you do, you have no further obligation to that specific backer, and no agreement exists between you.</p>
                    <p><b>We’ll charge our fees before putting funds in your account.</b>CrowdFunding and its payment partners will subtract fees before transmitting the proceeds of a campaign.</p>
                    <p><b>Some pledges can’t be collected, which might reduce the amount of funding you get.</b> Because some payments can’t be collected — for instance, when a backer’s credit card expires before funding ends, and they don’t provide updated information — we can’t guarantee that the amount of funding you receive will be exactly equal to the full amount pledged minus fees.</p>
                    <p><b>We'll help resolve payment-card disputes.</b> If a backer of your project disputes the charge with their card issuer, we'll handle re-presenting the charge to settle the dispute with the card issuer. You’ll be notified that a dispute has been filed, and you’ll be able to provide evidence to help us resolve it in your favor. If the cardholder’s dispute is found valid, you authorize us to charge the credit card number you provided when you started your project for the amount of the chargeback.</p>
                </section>
            </div>
        </div>
    </div>
{% endblock %}