{% extends "index.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="section-top-border">
		<div class="row">
			<div class="col-lg-12">
                <h1 class="mb-30">Reset your password</h1>
					<blockquote class="generic-blockquote">
						   <p>We've emailed you instructions for setting your password.</p>
                            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
                    </blockquote>
			</div>
		</div>
	</div>
{% endblock %}
