{% extends 'index.html' %}
{% load static %}

{% block title %}Blog · CrowdFunding{% endblock %}

{% block fullwidthheader %}
  <div class="masthead">
    <h1>The CrowdFunding Blog</h1>
    <p>Find out the latest news on CrowdFunding</p>
  </div>
{% endblock %}

{% block content %}

<!--================Blog Area =================-->
{% for entry in entries %}
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Food,</a>
                                        <a class="active" href="#">Technology,</a>
                                        <a href="#">Politics,</a>
                                        <a href="#">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="{{ Entry.created_by.username }}">{{ entry.created_by.profile.user.username }}<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">{{ entry.start_publication|date:"D d M Y" }}<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{ entry.blog_cover_image.url }}" alt="{{ entry.slug }}">
                                    <div class="blog_details">
                                        <a href="{% url 'blog:entry' entry.slug %}">
                                            <h2>{{ entry.title }}</h2>
                                        </a>
                                        <p>{{ entry.content|safe }}</p>
                                        <a href="{% url 'blog:entry' entry.slug %}" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endfor %}

{% endblock content %}

