{% extends "index.html" %}
{% load staticfiles %}
{% block title %}
Categories
{% endblock title %}


{% block content %}
<div class="container1" style="width: 60%;">
            <div class="gallery">
                <figure class="gallery__item gallery__item--1">
                    <img src="{% static 'img/cateimg/art.jpg' %}" alt="Gallery image 1" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--2">
                    <img src="{% static 'img/cateimg/food.jpg' %}" alt="Gallery image 2" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--3">
                    {% for category in categories %}
                        <a href="{{ category.get_absolute_url }}" class="text-black">{{ category.name }}</a><br>
                        <br>
                    {% endfor %}
                </figure>
                <figure class="gallery__item gallery__item--4">
                    <img src="{% static 'img/cateimg/it.jpg' %}" alt="Gallery image 4" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--5">
                    <img src="{% static 'img/cateimg/music.jpg' %}" alt="Gallery image 5" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--6">
                    <img src="{% static 'img/cateimg/film.jpg' %}" alt="Gallery image 6" class="gallery__img">
                </figure>
            </div>
        </div>



{% endblock content %}
