{% extends "index.html" %}
{% load bootstrap %}

{% block title %}Edit project{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
<div class="container">
<div class="row">
      <div class="c ol-lg-offset-9 col-md-7 col-lg-9 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
              <br>
             <div class="form-group mx-sm-3 mb-2">
            <h2 class="card-title text-center ">Edit project!</h2>
             </div>
              <br>
              <div class="form-group mx-sm-3 mb-2">
                {{ form.name|bootstrap_horizontal}}
              </div>
              <div class="form-group mx-sm-3 mb-2">
                {{ form.short_description|bootstrap_horizontal}}
              </div>
              <div class="top mx-sm-3 mb-2">
				{{ form.description|bootstrap_horizontal}}
              </div>
              <div class="form-group mx-sm-3 mb-2">
				{{ form.cover_image|bootstrap_horizontal }}
              </div>
			  <div class="form-group mx-sm-3 mb-2">
				{{ form.goal|bootstrap_horizontal }}
              </div>
              <div class="form-group mx-sm-3 mb-2">
				{{ form.category|bootstrap_horizontal }}
              </div>
			  <div class="form-group mx-sm-3 mb-2">
				{{ form.finish|bootstrap_horizontal }}
              </div>
              <div class="col-auto mb-4">
                  <button type="submit" class="genric-btn primary btn-block" value="ok">save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}
